.delivery{
  display:flex;
  min-height:100vh;
  background:#1c140c;
  color:white;
  flex-wrap:wrap;
}

.delivery-left{
  flex:1;

  background:url("https://images.unsplash.com/photo-1517841905240-472988babdf9?q=80&w=1170&auto=format&fit=crop")
  center/cover no-repeat;

  position:relative;

  min-height:600px;
}

.delivery-overlay{
  position:absolute;
  inset:0;

  background:rgba(0,0,0,0.5);

  display:flex;
  flex-direction:column;
  justify-content:flex-end;

  padding:60px;
}

.delivery-overlay h1{
  font-size:65px;
  font-family:serif;
  line-height:1.1;
}

.delivery-overlay span{
  color:#d4af37;
  display:block;
}

.delivery-overlay p{
  margin-top:20px;
  font-size:22px;
  max-width:600px;
}

.delivery-right{
  flex:1;

  padding:100px 80px;

  display:flex;
  flex-direction:column;
  justify-content:center;
}

.delivery-tag{
  color:#d4af37;
  letter-spacing:4px;
  margin-bottom:20px;
}

.delivery-right h1{
  font-size:70px;
  font-family:serif;
  margin-bottom:50px;
}

.delivery-card{
  background:rgba(255,255,255,0.05);

  border:1px solid rgba(255,255,255,0.1);

  padding:35px;

  border-radius:20px;

  margin-bottom:30px;

  backdrop-filter:blur(10px);
}

.delivery-card h2{
  margin-bottom:15px;
  color:#d4af37;
}

.delivery-card p{
  font-size:20px;
  line-height:1.6;
}

@media(max-width:768px){

  .delivery{
    flex-direction:column;
  }

  .delivery-overlay h1{
    font-size:40px;
  }

  .delivery-right{
    padding:60px 20px;
  }

  .delivery-right h1{
    font-size:42px;
  }

}