.testimonials{
  background:#111820;
  color:white;

  padding:120px 60px;

  text-align:center;
}

.testimonial-tag{
  color:#d4af37;
  letter-spacing:4px;
  margin-bottom:20px;
}

.testimonials h1{
  font-size:60px;
  font-family:serif;
  margin-bottom:70px;
}

.testimonial-container{
  display:flex;
  gap:30px;
  justify-content:center;
  flex-wrap:wrap;
}

.testimonial-card{
  width:350px;

  background:rgba(255,255,255,0.05);

  border:1px solid rgba(255,255,255,0.1);

  padding:40px;

  border-radius:25px;

  backdrop-filter:blur(10px);

  transition:0.5s;
}

.testimonial-card:hover{
  transform:translateY(-10px);
}

.testimonial-card img{
  width:90px;
  height:90px;

  border-radius:50%;

  object-fit:cover;

  margin-bottom:25px;
}

.testimonial-card p{
  font-size:20px;
  line-height:1.8;
  margin-bottom:25px;
}

.testimonial-card h2{
  color:#d4af37;
}

@media(max-width:768px){

  .testimonials{
    padding:70px 20px;
  }

  .testimonials h1{
    font-size:40px;
  }

  .testimonial-card{
    width:100%;
  }

}